<h1><%= @title %> Bitches!*</h1>

<% form_for(:session, :url => sessions_path) do |f| %>
  
  <%= f.error_messages %>
  
  <div class="field">   
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  
  <div class="action">
    <%= f.submit "Sign in"%>
  </div>
<% end %>


<p>*Header in no way intends to imply the reads is now, or ever has been a female canine.</p>
<p>Wanna be one of our Bitches?! <%= link_to "Sign up Yo!", new_user_path %></p>
<p>Find me in app/views/sessions/new.html.erb</p>
