<h1>Techs</h1>

<table id="tickets">
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Email Address</th>
    <th>Gravatar</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.login, user_path(user) %></td>
    <td><%= link_to user.name, user_path(user) %></td>
    <td><%= link_to user.email, user_path(user) %></td>
    <td><%= link_to (gravatar_for user), user_path(user) %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Home', root_path %> |
<%= link_to 'New user', new_user_path %>