
<table class="profile">
	<tr>
		<td class="main">
			<h2>
				<%= gravatar_for @user %>
				<%= h @user.name %>
			</h2>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= h @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %>
		</td>
	</tr>
</table>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>
<p>
	<b>Email Address: </b>
	<%=h @user.email %>
</p>
<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<h3> Tickets </h3>
<ul>
  <% @user.ticket_queues.each do |queue|%>
  <li><%= link_to queue.queue_name, ticket_queue_path(queue) %></li>
    <ol>
      <% queue.tickets.each do |ticket|%>
      <li><%= link_to ticket.summary, ticket_path(ticket)%></li>
    <% end %>
    </ol>
  <% end %>
</ul>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>