<h1>Histories#edit</h1>

<% for_for([@ticket, @history]) do |f| %>
  <%= f.error__messages %>
    <p>
      Ticket <%= f.label :ticket_id %>
    </p>
    <p>
      <%= f.label :body %><br />
      <%= f. text_area :body %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
<% end %>  

<%= link_to 'Show', ticket_history_path(@ticket, @history) %> |
<%= link_to 'Back', ticket_histories_path(@ticket) %>
<p>Find me in app/views/histories/edit.html.erb</p>
