<h1>History for <%= @ticket.id %></h1>

<table>
	<tr>
		<th>Body</th>
		<th>Created</th>
		<th>Last Updated</th>
	</tr>

<% for history in @histories %>
	<tr>
		<td><%=h history.body %></td>
		<td><%=h history.created_at %></td>
		<td><%=h history.updated_at %></td>
		<td><%= link_to 'Show', ticket_history_path(@ticket, history) %></td>
		<td><%= link_to 'Edit', edit_ticket_history_path(@ticket, history) %></td>
		<td><%= link_to 'Destory', ticket_history_path(@ticket, history), :confirm => "Are you sure?", :method => :delete %></td>
	</tr>
<% end %>

</table>
<br />
<%= link_to 'New history', new_ticket_history_path(@ticket) %> | 
<%= link_to 'Back to Ticket', @ticket %>

