<h1>Add New History Event to Ticket <%=h @ticket.id %></h1>

<% form_for([@ticket, @history]) do |f| %>
  <%=f.error_messages %>
  
  <p>Associated Employee:</p>
    <% employees = Employee.find(:all)%>
    <%= f.collection_select(:employee_id, employees, :id, :name, :include_blank => true )%>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ticket_histories_path(@ticket) %>

<p>Find me in app/views/histories/new.html.erb</p>
