<h2>Ticket: <%=h @ticket.id %></h2>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
<p>
  <b>Summary:</b>
  <%=h @ticket.summary %>
</p>

<p>
  <b>Type:</b>
  <%=h @ticket.ticket_type %>
</p>

<p>
  <b>User:</b>
  <%=h @user_name %>
</p>

<p>
  <b>Status:</b>
  <%= @status %>
</p>

<h3>History</h3>
<%= link_to 'Add', new_ticket_history_path(@ticket, @history) %><br />
<% @ticket.histories.each do |history| %>
<p>
<%=h history.body %>  |
<%= link_to 'Edit', edit_ticket_history_path(@ticket, history) %> |
<%= link_to 'Destory', ticket_history_path(@ticket, history), 
			:confirm => "Are you sure?", :method => :delete %>
</p>
<% end %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>