<h2>Ticket: <%=h @ticket.id %></h2>
<h3>Tech:   <%=h @user_name %></h3>
</p></h3>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
<p>
  <b>Summary:</b>
  <%=h @ticket.summary %>
</p>

<p>
  <b>Type:</b>
  <%=h @ticket.ticket_type %>
</p>



<% if @employee_name != nil %>
<p>
  <b>Employee:</b>
  <%=h @employee_name %>
</p>
<% end %>

<p>
  <b>Status:</b>
  <%= @status %>
</p>

<h3>History</h3>
<%= link_to 'Add', new_ticket_history_path(@ticket, @history) %><br />
<table  id="tickets">
  <tr>
    <th>Body</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
  </tr>
  <% @ticket.histories.each do |history| %>
  <tr>
    <td><%= link_to history.body, ticket_history_path(@ticket, history) %></td>
    <td><%=h history.created_at %></td>
    <td><%=h history.updated_at %></td>
    <td><%= link_to 'Edit', edit_ticket_history_path(@ticket, history) %></td>
    <td><%= link_to 'Destory', ticket_history_path(@ticket, history), 
      :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>