<div id="header">
	<%= link_to image_tag("customLogo.png", :alt => "x1148 ... Helpdesk Bitches!"), root_path %>
	<ul class="navigation round">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Help", help_path %></li>
		<% if signed_in? %>
		<li><%= link_to "Sign out #{@current_user.name}", signout_path %></li>
		<% else %>
		<li><%= link_to "Sign in", signin_path %></li>
		<% end %>
	</ul>
	
</div>
