<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Helpdesk | <%= @title %></title>
  </head>
  <body>
    <%= yield %>
        <p>  
      <%= link_to "About", about_url %> | <%= link_to "Contact", contact_url %> | <%= link_to "Home", root_url %>
    </p>
  </body>
</html>